.card-container {
    width: 80%;
    background-color: white;
    position: relative;
    top: -3em;
}

.box>img {
    filter: grayscale(100%);
    transition: .1s;
}

.box>img:hover {
    filter:grayscale(0);
}